<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CarRegister.Repo.Properties.Settings.skolprojekt2020DBConnectionString"
      connectionString="Data Source=skoldbserver.database.windows.net;Initial Catalog=skolprojekt2020DB;User ID=xxx;Password=xxx"
      providerName="System.Data.SqlClient" />
    <add name="CarRegister.Repo.Properties.Settings.skolprojekt2020DBConnectionString1"
      connectionString="Data Source=skoldbserver.database.windows.net;Initial Catalog=skolprojekt2020DB;User ID=xxxxx;Password=xxxxx"
      providerName="System.Data.SqlClient" />
    <add name="CarRegister.Repo.Properties.Settings.CarProjectDatbaseConnectionString"
      connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=CarProjectDatbase;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
